# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IntelIJ_workplace\bootstrapTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
